<section>
  <form id="apiForm" action="shorturl" method="GET">
    <div class="row border form">
      <label for="url_input">URL:</label>
      <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
      <button id="apiForm-submit" type="submit" >SEND</button>
    </div>
  </form>
</section>
<section>
  <div id="result">
    <%- include('./message.ejs') %>
    <%- include('./error.ejs') %>
  </div>
</section>
<section>
  <form id="callForm" action="shorturl/:short" class="callUrl" method="POST">
    <div class="row border form">
      <label for="short_input">Index url: </label>
      <input id="short_input" type="text" name="short" placeholder="1.." />
      <button type="submit">OPEN</button>
    </div>

  </form>
</section>