<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener Microservice</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- <script defer src="../public/controller.js"></script> -->
</head>

<body>
    <div class="grid two-col">
        <nav>
            <ul>
                <li> <a href="/">home</a> </li>
            </ul>
        </nav>
        <main>
            <header>
                <h1>URL Shortener Microservice</h1>
            </header>
            <%- body %>
        </main>
    </div>

    <footer>

    </footer>
    <script>
        const error = document.querySelector('.error');
        if (error) {
            setTimeout(function () {
                console.log("asign", error)
                window.location.assign('/')
            }, 3000)
        }
    </script>
</body>

</html>