<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener Microservice</title>
    <link href="style.css" rel="stylesheet" type="text/css" />

    <!-- <script defer src="../public/controller.js"></script> -->
</head>

<body>
    <div class="grid two-col">
        <nav>
            <ul>
                <li> <a href="/">home</a> </li>
            </ul>
        </nav>
        <main>
            <header>
                <h1>URL Shortener Microservice</h1>
            </header>
            <%- body %>
        </main>
    </div>
    <footer>
        <div class="links">
            <a href="https://www.freecodecamp.org/"><img id="fcc" alt="FCC"
                    src="https://cdn.freecodecamp.org/testable-projects-fcc/images/fcc_secondary.svg">
               <span class="fcc"> FCC Project - Back End Development and APIs Projects</span>
            </a>
        </div>

    </footer>
    <script>
        const error = document.querySelector('.error');
        const short = document.querySelector('shortMessage')
        if (error) {
            setTimeout(function () {
                console.log("asign", error)
                window.location.assign('/')
            }, 3000)
        }
        //-------------------------------------------------------------------------
        const link = document.querySelector('.full-link');
        const afull = document.querySelector('#afull');

        if (link) {
            // const pagelocation =  window.location.href;

            if (!window.location.href) {
                window.location.assign('/');
            } else {
                const pagelocation = (window.location.href).split('?')
                console.log(pagelocation)
                link.textContent = pagelocation[0] + "/" + "<%= messageShort %>";
                afull.href = pagelocation[0] + "/" + "<%= messageShort %>";
            }
        }

    </script>
</body>

</html>