<% if(locals.messageOrigin || locals.messageShort) {%>

   <div class="row message">url to enter in address bar : &nbsp 
      <a id="afull" href=""><span class="full-link"></span>
         <span  class="shortMessage">/<%= messageShort? messageShort:"" %></span>
      </a> 
   </div>
   <div class="row message"> short url for the form below : &nbsp <span class="shortMessage">
         <%= messageShort? messageShort:"" %>
      </span> 
   </div>

   <% } %>
      <script>
             
      </script>